<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Metadata Microservice</title>
</head>
<body>
    <h3>Submit a file to view it's file size:</h3>
    <form action="/profile" method="POST" enctype="multipart/form-data">
        <input type="file" name="myFile">
        <button>Submit</button>
    </form>
</body>
</html>